.div0 {
    width: 100%;
}

.top1 {
    width: 100%;
    height: 25px;
}

.top1>.le {
    font-size: 10px;
    float: right;
    margin-right: 30px;
}

.top1>.le:hover {
    background-color: sandybrown;
}

.top2 {
    width: 30%;
    height: 50px;
    text-align: center;
    margin-left: 600px;
    margin-bottom: 30px;
    background-color: white
}

.div1 {
    height: 20px;
    background-color: rgb(1, 151, 246);
    display: flex;
    justify-content: center;
}

.div1>.s {
    margin-left: 35px;
}

.div1>.s:hover {
    font-size: 16px;
    margin-left: 35px;
    float: left;
    background-color: rgb(51, 51, 51);
}

.tu {
    height: 230px;
}

.tou {
    width: 50%;
    height: 25px;
    text-align: center;
    font-size: 10px;
}

.biaoti {
    width: 100%;
    height: 70px;
    text-align: center;
}

.biaoti>.biaoti1 {
    font-size: 20px;
}

.biaoti>.biaoti2 {
    font-size: 12px;
}

.tupian {
    height: 120px;
    margin-left: 530px;
}

.tupian>.tp {
    float: left;
    margin-left: 30px;
}

.lianxi {
    width: 60%;
    margin-left: 500px;
}

.lianxi>.ZI {
    margin-top: 20px;
}

.lianxi>.ZI>.dj {
    border: none
}

.lianxi>.yonhu {
    border-top: 1px #000 dashed;
    border-left: 1px #000 dashed;
    border-right: 1px #000 dashed;
    border-bottom: 1px #000 dashed;
    background: rgb(238, 238, 238);
}

.lianxi>.ZI>.yonhu1 {
    background: rgb(238, 238, 238);
}

.lianxi>.tijiao {
    margin-bottom: 50px;
}

.dibu {
    height: 130px;
    border: 1px solid white;
    background-color: rgb(51, 51, 51);
}

.dibu>.b {
    margin-left: 340px;
    margin-top: 50px;
}

.dibu>.b>.o {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    font-size: 12px;
}

.dibu>.b>.l {
    font-size: 11px;
}

.dibu>.b>.r {
    width: 30%;
    margin-left: 700px;
    margin-bottom: 50px;
}

.dibu>.b>.r>.p {
    float: left;
    margin-left: 3px;
}

.dibu>.b>.r>.g {
    margin-left: 50px;
}